<div class="wrapper-sign-up">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p class="sign-up-title">Already have an account?</p>
        <p class="sign-up-subtitle">Welcome back!</p>

        <%= render "devise/shared/links" %>


        <p class="sign-up-title" style="margin-top: 30px;">New to Eatwell?</p>
        <p class="sign-up-subtitle">You can sign up here!</p>


        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
          <ul class="list-inline" style="margin-bottom: 0px;">
            <li><%= f.input :first_name, required: true, input_html: { class: "recognitionStyling" }, label_html: { class: "type" } %></li>
            <li><%= f.input :last_name, required: true, input_html: { class: "recognitionStyling" }, label_html: { class: "type" } %></li>
          </ul>
            <%= f.input :email, required: true, autofocus: true, input_html: { class: "recognitionStyling" }, label_html: { class: "type" } %>
            <%= f.input :password, required: true, input_html: { class: "recognitionStyling" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label_html: { class: "type" }, hint_html: { class: "hint" } %>
<!--             <%= f.input :photo, label_html: { class: "type" } do %>
              <%= f.file_field :avatar %>
              <%= f.hidden_field :avatar_cache %> -->
            <% end %>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "sign-up-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

