<% content_for :background, 'white' %>

<div class="wrapper-dashboard">
  <div class="nav-dashboard">
    <div class>
      <%= link_to root_path do  %>
        <% image_tag "logo.png", height: 40, class: "logo-dashboard" %>
        <% end %>
      </div>
    <div class="edit-profile-dashboard">
      <%= link_to edit_user_registration_path do %>
        <p>Edit profile</p>
      <% end %>
    </div>
  </div>
  <div class="center-avatar-dashboard">
    <div class="container-dashboard">
      <%= cl_image_tag(@user.avatar, height: 130, width: 130, class: "user-avatar-dashboard") %>
    </div>
  </div>

  <h4 class="text-center text-greeting-dashboard">Hi <%= current_user.first_name.capitalize %>!</h4>

    <p class="text-center padding-over-ride-dashboard">
      <span class="text-impact-gray">You have</span>
      <% if current_user.token_wallet == nil %>
        <span class="text-impact-red"><%= "0" %> impact points </span>
      <% else %>
        <span class="text-impact-red"><%= current_user.token_wallet %> impact points
      <% end %></span>
    </p>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <%= link_to offers_path do %>
          <div class="card-dashboard">
            <%= image_tag("dashboard-offers-icon.png", height: 70, class: "flex-item offers-icon-padding") %>
            <div class="card-text-container-dashboard flex-item">
              <h4> Redeem points </h4>
              <p>Check out all the amazing offers!</p>
            </div>
          </div>
        <% end %>

    <div class="card-dashboard">
    <%= link_to favorite_restaurants_path do %>
      <%= image_tag("dashboard-fav-icon.png", height: 70, class: "flex-item offers-icon-padding") %>
      <div class="card-text-container-dashboard flex-item">
        <h4> Favorites </h4>
        <p> 12 restaurants that care</p>
      </div>
    </div>
  </div>
  <% end %>
</div>




