<div class="navbar-wagon">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <div class="navbar-wagon-right">
    <div  class="navbar-wagon-item search-icon">

    </div>
    <div class="navbar-wagon-item user-icon">
        <% if user_signed_in? %>
          <div class="dropdown">
          <% @user = current_user %>
          <%=  cl_image_tag @user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to offers_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Offers") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
        <% else %>
          <%= link_to new_user_registration_path do %>
            <%= image_tag "user-icon.png", height: 24 %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
