<!-- temporary style tag for NavBar build -->
<style>
body {background-color: #17bebb;}
</style>

<!-- navbar  -->
<% content_for :navbar do %>
  <%= render 'shared/navbar_home' %>
<% end %>

<!-- navbar end -->
<div class="container">
  <div class="row">
    <!-- eatwell logo text  and icons -->
    <%= image_tag "eatwell-home-logo.png" %>

    <div>
      <%= image_tag "home_sourcing_icon.png" %>
      <p>sourcing</p>
    </div>

    <div>
      <%= image_tag "home_community_icon.png" %>
      <p>community</p>
    </div>

    <div>
      <%= image_tag "home_recycle_icon.png" %>
      <p>recycling</p>
    </div>
  </div>





  </div>

  <br>

  <div class="row" style="margin-bottom: 20px">


    <br>

    <div class="form-group">
    <%= render 'shared/searchbar' %>

    </div>

  </div>

  <div class="row" style="margin-bottom: 20px">
  <!-- search dropdown -->

  </div>

  <div class="row">
  <!-- search any type info -->

  </div>

  <div class="row">
  <!-- render cards collections -->
    <div class="restaurants_results">
      <%= render @restaurants %>
    </div>

  </div>

  <div class="row">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json%>">
    </div>


  </div>


</div>




