<!-- temporary style tag for NavBar build -->
<style>
body {background-color: #17bebb;}
</style>

<!-- navbar  -->
<% content_for :navbar do %>
<%= render 'shared/navbar_home' %>
<% end %>

<!-- navbar end -->
<div class="container">
  <div class="row">
    <!-- eatwell logo text  and icons -->
    <%= image_tag "eatwell-home-logo.png" %>

    <div>
      <%= image_tag "home_sourcing_icon.png" %>
      <p>sourcing</p>
    </div>

    <div>
      <%= image_tag "home_community_icon.png" %>
      <p>community</p>
    </div>

    <div>
      <%= image_tag "home_recycle_icon.png" %>
      <p>recycling</p>
    </div>
  </div>





  </div>

  <br>

  <div class="row" style="margin-bottom: 20px">
   <!--  <form action="<%= restaurants_path %>">
      <input id="restaurant_address" placeholder="Location search..." name="place">
      <input type="submit">

    </form> -->

    <%= form_tag(restaurants_path, method: "get") do %>

      <%= text_field_tag :place,
      params[:place],
      class: "form-control",
      placeholder: "Location search...", id: "restaurant_address" %>

      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Search by restaurant, cuisine, location ..." %>
      <%= submit_tag "Search", class: "btn btn-block btn-primary" %>

    <% end %>


    </div>

    <br>



    <div class="row" style="margin-bottom: 20px">
      <!-- search dropdown -->

    </div>

    <div class="row">
      <!-- search any type info -->

    </div>

    <div class="row">
      <!-- render cards collections -->
      <div class="restaurants_results">
        <%= render 'restaurants/restaurant' %>
      </div>

    </div>



  </div>




