

<!-- temporary style tag for NavBar build -->
<style>
body {background-color: #17bebb;}
</style>
<!-- navbar  -->
<% content_for :navbar do %>
      <%= render 'shared/navbar_home' %>
 <% end %>
<!-- navbar end -->
<div class="container">
  <div class="row">
    <!-- eatwell logo text  and icons -->
    <h2>Eatwell</h2>
    <p>sourcing community recycling</p>

  </div>

  <br>


  <div class="row">
    <!-- search dropdown -->
    <div class="form-group">
          <%= form_tag(restaurants_path, method: "get") do %>
            <%= text_area_tag(:location, "", placeholder: "Greater Lisbon", class: "form-control") %>
            <br>

            <%= text_area_tag(:cuisine, "", placeholder: "Search for restaurant, café, cuisine...", class: "form-control") %>
          <% end %>
    </div>

  </div>

  <div class="row">
    <!-- search any type info -->

  </div>

  <div class="row">
    <!-- render cards collections -->
    <%= render @restaurants %>

  </div>

</div>


