<div><%= link_to restaurants_path(query: "vegan", place:"") do %>
  <div class="coll-card">
    <%= image_tag "collection_photos/vegetarian.png", class: "coll-img" %>
    <div class="coll-text">
      <p class="coll-title">Vegetarian/Vegan</p>
      <p class="coll-descr">A hand-picked collection of the best options in Lisbon.</p>
    </div>
  </div>
<% end %>
</div>

<div><%= link_to restaurants_path(query: "portuguese", place:"") do %>
  <div class="coll-card">
    <%= image_tag "collection_photos/portuguese.png", class: "coll-img" %>
    <div class="coll-text">
      <p class="coll-title">Portuguese</p>
      <p class="coll-descr">Dive into local flavors and travel Portugal at the table.</p>
    </div>
  </div>
<% end %>
</div>

<div><%= link_to restaurants_path(query: "mediterranean", place:"") do %>
  <div class="coll-card" style="margin-bottom: 20px;">
    <%= image_tag "collection_photos/mediterranean.png", class: "coll-img" %>
    <div class="coll-text">
      <p class="coll-title">Mediterranean</p>
      <p class="coll-descr">Delicious dishes from the southern coast of Europe. </p>
    </div>
  </div>
<% end %>
</div>
