<div class="container">


  <div><%= link_to restaurants_path(query: "portuguese", place:"") do %>
    <div class="coll-card">
      <%= image_tag "collection_photos/vegetarian.png", class: "coll-img" %>
    </div>
  <% end %>
  </div>

  <div><%= link_to restaurants_path(query: "mediterranean", place:"") do %>
    <div class="coll-card">
      <%= image_tag "collection_photos/mediterranean.png" %>
    </div>
  <% end %>
  </div>

  <div><%= link_to restaurants_path(query: "vegan", place:"") do %>
    <div class="coll-card">
    <%= image_tag "collection_photos/vegetarian.png" %>
    <div>
  <% end %>
</div>
