<div class="container">

  <div class="coll-card">
    <div><%= link_to "Portuguese", restaurants_path(query: "portuguese", place:"")%>
  <%= image_tag "collection_photos/vegetarian.png" %>
    </div>
  </div>

  <div class="coll-card">
    <div><%= link_to "Mediterranean", restaurants_path(query: "mediterranean", place:"") %>
    <%= image_tag "collection_photos/mediterranean.png" %>
    </div>
  </div>

  <div class="coll-card">
    <div><%= link_to "Vegetarian", restaurants_path(query: "vegan", place:"") %>
    <%= image_tag "collection_photos/vegetarian.png" %>
    <div>
  </div>

</div>
