<% @restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card-box">
      <%= link_to restaurant_path(restaurant) do %>

        <div class="card__img" style="background-image: url('<%= restaurant.photos %>')";>
        </div>

        <div>
          <div id=<%= "love-#{restaurant.id}"%>>
            <%= render "shared/favorite_badge", restaurant: restaurant %>
          </div>


        </div>

        <div>
          <ul class="list-inline" style="padding-left: 10px;">
            <% if restaurant.has_community %>
              <li><%= image_tag("btn-community.png", alt: "community badge", class: "symbols") %></li>
            <% end %>
            <% if restaurant.has_sourcing %>
              <li><%= image_tag("btn-sourcing.png", alt: "sourcing badge", class: "symbols symbol-sourcing") %></li>
            <% end %>
            <% if restaurant.has_recycling %>
              <li><%= image_tag("btn-recycling.png", alt: "recycling badge", class: "symbols") %></li>
            <% end %>
          </ul>

        </div>


        <div class="name"><%= restaurant.name %></div>





        <p class="main-text cuisine" style="font-weight: 400;"><%= restaurant.cuisine %></p>

        <p class="main-text"><%= restaurant.location %></p>

        <ul class="list-inline" style="margin: 0px; padding-left: 0px;">
          <li class="main-text price" style="padding-left: 0px;"><%= restaurant.price_for_two %><span class="euro">€</span><span class="av-price"> (avg. for two)</span></li>
          <li>
            <% if restaurant.average_rating.nil? %>
              <span class="no-rating">No ratings</span>
            <% else %>
              <span class="average-rating"><%= restaurant.average_rating %></span>
            <% end %>
          </li>
        </ul>

      <% end %>
    </div>
  </div>
<% end %>

