
<% @restaurants.each do |restaurant| %>
    <div class="card col-xs-12 col-sm-6 col-md-4" style= "border: 2px solid gray; height: 280px; background-color: white">
    <%=link_to restaurant_path(restaurant) do %>
        <p><%= image_tag restaurant.photos %></p>
        <p><%= restaurant.name %></p>
        <p><%= restaurant.description %></p>
        <p><%= restaurant.price_for_two %></p>
        <p><%= restaurant.has_community %></p>
        <p><%= restaurant.has_sourcing %></p>
        <p><%= restaurant.has_recycling %></p>

    </div>
<% end %>
<% end %>
