
<% @restaurants.each do |restaurant| %>
    <div class="card col-xs-12 col-sm-6 col-md-4" style= "border: 5px solid red">
        <p><%= restaurant.name %></p>
        <p><%= restaurant.description %></p>
        <p><%= restaurant.price_for_two %></p>
        <p><%= restaurant.has_community %></p>
        <p><%= restaurant.has_sourcing %></p>
        <p><%= restaurant.has_recycling %></p>

    </div>
<% end %>
