
<!-- nav-bar style for development -->
<style>
body {background-color: #17bebb;}
</style>
<div class="navbar-wagon">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <div class="navbar-wagon-right">
    <div class="navbar-wagon-item user-icon">
      <!-- link to profile/sign in -->
    <%= image_tag "user-icon.png", height: 24 %>
    </div>
  </div>
</div>

  <div class="container">



    <div class="row">

    <h1> Search Bar</h1>

    </div>

    <hr>
  <div class="index-page__row row">
    <div class="index-page__col-left col-xs-12 col-md-8">
      <%= render @restaurants %>
    </div><!-- card- render partial -->

    </div>

    <div class="row">

    <div
  id="map"
  style="width: 100%;
  height: 600px;
  justify-content: right"
  data-markers="<%= @markers.to_json %>"
></div>

    </div>


  </div>



