<div class="wrapper background-show">

<!-- navbar_show -->
<div class="navbar-show"><% content_for :navbar do %>
      <%= render 'shared/navbar_show' %>
<% end %>
</div>
<!-- end of navbar -->

<!-- photo -->
 <div class="banner-show" style=" background-image: url('<%= @restaurant.photos %>');"></div>
<!-- end of photo -->

<!-- badges -->
<div>
  <ul class="list-inline" style="margin: 0px;">
    <% if @restaurant.has_community %>
      <li><%= image_tag("btn-community.png", alt: "community badge", class: "symbols") %></li>
    <% end %>
    <% if @restaurant.has_sourcing %>
      <li><%= image_tag("btn-sourcing.png", alt: "sourcing badge", class: "symbols") %></li>
    <% end %>
    <% if @restaurant.has_recycling %>
      <li><%= image_tag("btn-recycling.png", alt: "recycling badge", class: "symbols") %></li>
    <% end %>
  </ul>
</div>
<!-- end of badges -->

<!-- check in -->
<div class="check-in-section">
  <%= form_for [@restaurant, @check_in] do |f| %>
    <%= f.submit "Check in", class: "btn btn-danger"  %>
  <% end %>

  <p class="impact-points">Get <span class="rest-points"><%= @restaurant.calculate_points %></span> impact points</p>
</div>
<!-- end of check in -->

<!-- cards -->
<div class="background-show">

  <div class="card-show">

    <div class="name-show"><%= @restaurant.name %></div>
    <p class="main-text" style="font-weight: 400;"><%= @restaurant.cuisine %></p>
    <p class="main-text"><%= @restaurant.price_for_two%></span>€ for two (approx average)</p>
    <p class="main-text"><span style="font-weight: 325;">Adress: </span><%= @restaurant.address %></p>
    <p class="main-text"><span style="font-weight: 325;">Phone: </span> <%= @restaurant.phone_number %></p>
    <ul class="list-inline" style="margin: 0px; padding-left: 0px;">
      <li style="padding-left: 0px";><span style="font-weight: 325; margin-left: 0px;">Hours:</span><span class="main-text"><%= @restaurant.working_hours %></span></li>
      <li>
        <% if @restaurant.average_rating.nil? %>
          <span class="no-rating">No ratings yet</span>
        <% else %>
          <span class="average-rating"><%= @restaurant.average_rating %></span>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="card-show main-text">
      <p style="font-weight: 500;">Description</p>
      <p><%= @restaurant.description %></p>
  </div>

  <div class="card-show" style="padding: 0px;">
      <span class="map-show"><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@restaurant.address}" %></span>
  </div>

  <div class="card-show main-text">
      <ul class="list-inline">
        <li>Reviews</li>
        <li>Leave a review</li>
      </ul>
      <p><% if @restaurant.reviews.blank? %>
              Be the first to leave a review for <%= @restaurant.name %>
          <% else %>
              <% @restaurant.reviews.each do |review| %>
                <%= render 'reviews/show', review: review %>
              <% end %>
          <% end %></p>
          <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
    </div>

</div>

</div>
