<div class="background-show">

  <!-- navbar_show -->
  <div class="navbar-show"><% content_for :navbar do %>
    <%= render 'shared/navbar_show' %>
    <% end %>
  </div>
  <!-- end of navbar -->

  <!-- photo -->
  <div class="banner-show" style=" background-image: url('<%= @restaurant.photos %>');"></div>
  <!-- end of photo -->

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <!-- badges -->
        <div>
          <ul class="list-inline" style="margin-left: 0px;";>
            <% if @restaurant.has_community %>
            <li><%= image_tag("btn-community.png", alt: "community badge", class: "symbols") %></li>
            <% end %>
            <% if @restaurant.has_sourcing %>
            <li><%= image_tag("btn-sourcing.png", alt: "sourcing badge", class: "symbols symbol-sourcing") %></li>
            <% end %>
            <% if @restaurant.has_recycling %>
            <li><%= image_tag("btn-recycling.png", alt: "recycling badge", class: "symbols") %></li>
            <% end %>
          </ul>
        </div>
        <!-- end of badges -->

        <!-- check in -->
        <div class="check-in-section">
          <%= form_for [@restaurant, @check_in] do |f| %>
          <%= f.submit "Check in", class: "btn btn-danger button-show"  %>
          <% end %>

          <p class="impact-points">Get <span class="rest-points"><%= @restaurant.calculate_points %></span> impact points</p>
        </div>
        <!-- end of check in -->

        <!-- cards -->
        <div class="card-show">

          <div class="name-show"><%= @restaurant.name %></div>
          <p class="cards-text" style="font-weight: 400;"><%= @restaurant.cuisine %></p>
          <p class="cards-text"><%= @restaurant.price_for_two%></span>€ for two (approx average)</p>
          <p class="cards-text"><span style="font-weight: 325;">Adress: </span><%= @restaurant.address %></p>
          <p class="cards-text"><span style="font-weight: 325;">Phone: </span> <%= @restaurant.phone_number %></p>
          <ul class="list-inline" style="margin: 0px; padding-left: 0px;">
            <li style="padding-left: 0px";><span class="cards-text" style="font-weight: 325; margin-left: 0px;">Hours:</span><span class="cards-text"><%= @restaurant.working_hours %></span></li>
            <li>
              <% if @restaurant.average_rating.nil? %>
              <span class="no-rating">No ratings yet</span>
              <% else %>
              <span class="average-rating"><%= @restaurant.average_rating %></span>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="card-show">
          <p class="cards-text" style="font-weight: 500;">Description</p>
          <p class="cards-text"><%= @restaurant.description %></p>
        </div>


        <div class="card-show" style="padding: 0px 0px;">
          <div class="map-container-show">
            <div id="map" data-markers="<%= @markers.to_json %>"></div>
          </div>
        </div>


        <div class="card-show cards-text" style="margin-bottom: 20px;">
          <p style="font-weight: 500;">Reviews</p>
          <p class="review"><% if @restaurant.reviews.blank? %>
            <span class="cards-text">Be the first to leave a review for </span><span class="rest-reviewed"><%= @restaurant.name %></span>
            <% else %>
            <span class="cards-text">Leave a review for </span><span class="rest-reviewed"><%= @restaurant.name %></span>
            <% end %>

            <%= render 'reviews/form', restaurant: @restaurant, review: @review %></p>
            <div id="reviews">
              <% @reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
