<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <title>Eatwell - Conscious restaurant discovery and rewards.</title>
  <%= favicon_link_tag image_url('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <meta property="og:title" content="Eatwell - Conscious restaurant discovery and rewards.">
  <meta property="og:image" content="<%= image_url('facebook-card.png')  %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.origin_url %>">
  <meta property="og:description" content="Eatwell is the restaurant discovery platform for diners who want a better planet. Vote with your dollars. Earn impact points. Get cool rewards.">
  <meta property="og:site_name" content="Eatwell"/>
</head>

<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=1824117704305026&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="body <%= yield(:background) == 'white' ? ' white-background' : '' %>" style="background: linear-gradient(0deg, rgba(23,  190, 187, 0.95), rgba(23,  190, 187, 0.95)), url('<%= image_path "background-image.png" %>') ; background-size: 300px; background-repeat: repeat;">
    <% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </div>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "application" %>


  <%= javascript_pack_tag "map" %>
  <!--  <script type="text/javascript" src="autocomplete.js"></script> -->
</body>


